<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:40:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoNopCommerceScripts.Login()[pri:1, instance:com.demo12.DemoNopCommerceScripts@4f80542f]">Login</td> 
  <td>main@1138697171</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:40:13</td>   <td>11549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoNopCommerceScripts.Logout()[pri:5, instance:com.demo12.DemoNopCommerceScripts@4f80542f]">Logout</td> 
  <td>main@1138697171</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:40:10</td>   <td>8643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoNopCommerceScripts.Manufacturers()[pri:4, instance:com.demo12.DemoNopCommerceScripts@4f80542f]">Manufacturers</td> 
  <td>main@1138697171</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:40:08</td>   <td>6775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoNopCommerceScripts.Products()[pri:3, instance:com.demo12.DemoNopCommerceScripts@4f80542f]">Products</td> 
  <td>main@1138697171</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:40:15</td>   <td>13364</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoNopCommerceScripts.afterClass()[pri:0, instance:com.demo12.DemoNopCommerceScripts@4f80542f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1138697171</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:40:08</td>   <td>6772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoNopCommerceScripts.category()[pri:2, instance:com.demo12.DemoNopCommerceScripts@4f80542f]">category</td> 
  <td>main@1138697171</td>   <td></td> </tr>
<tr bgcolor="c288aa">  <td>23/01/27 21:39:59</td>   <td>-3084</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoNopCommerceScripts.lunchBrowser()[pri:0, instance:com.demo12.DemoNopCommerceScripts@4f80542f]">&gt;&gt;lunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1138697171</td>   <td></td> </tr>
</table>
